[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "kivy_garden"
url = "https://kivy-garden.github.io/simple/"

[dev-packages]

[packages]
kivy = "==1.11.1"
kivy-garden = "==0.1.4"
certifi = "==2022.12.7"
chardet = "==3.0.4"
docutils = "==0.15.2"
flask = "*"
idna = "==2.8"
pygments = "==2.4.2"
requests = "==2.22.0"
urllib3 = "==1.25.6"
pandas = "*"
xlrd = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
